body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fafafa;
    color: #333;
}
h1 {
    color: #5D1049;
}
.recommendation {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}
.recommendation:hover {
    transform: scale(1.02);
}
.book-img {
    width: 120px;
    height: 180px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
}
.book-details {
    flex: 1;
}
.book-title {
    color: #007bff;
    margin: 0;
    font-weight: bold;
}
p {
    margin: 4px 0;
}
button {
    background-color: #5D1049;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
button:hover {
    background-color: #8A307F;
}
.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}
.filter-buttons button {
    margin: 0 10px;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.filter-buttons button:hover {
    background-color: #555;
}
